[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	forgeCommitter = group user/Pavlo Yemelianov (pavlo_yemelianov@epam.com)
	create = group user/Pavlo Yemelianov (pavlo_yemelianov@epam.com)
	push = group user/Anton Tarianyk (anton_tarianyk@epam.com)
	push = group user/Pavlo Yemelianov (pavlo_yemelianov@epam.com)
